*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.IPLForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

body{
    box-sizing: border-box;
    background-image: url('./pexels-rachel-xiao-773063.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    /* justify-content: center; */
    gap: 60px
}

label{
    color: rgb(163, 164, 167);
    padding-right: 100px;
    font-weight: bold;
}

label[for="email"]{
    padding-right: 145px;
}


label[for="password"]{
    padding-right: 105px;
}

label[for="passwordRepeat"]{
    padding-right: 90px;
}

label[for="toc"]{
    padding-left: 20px;
}

.toc{
    padding-left: 40px;
}

h1{
    font-size: 50px;
    color: rgba(241, 236, 236, 0.774);
}

input{
    border-radius: 5px;
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

button{
    height: 60px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(45deg, hsl(266, 48%, 60%), 40% ,rgba(45, 15, 155, 0.897));
}

button:hover{
    background: linear-gradient(45deg, hsla(266, 43%, 56%, 0.685), 50% ,rgba(168, 117, 235, 0.397));
    color: white;
}

@media screen and (max-width:1200px){
    body{
        padding: 10px;
        margin-bottom: 50px;
        text-align: center;
    }
    label{
        padding-left: 20vw;
    }
    input{
        margin-top: 10px;
        padding-left: 20vw;
        width: 70vw;
    }

    .toc{
        display: flex;
        justify-content: flex-start;
        margin-left: -40px;
    }

    label[for="toc"]{
        font-size: 15px;
        padding-right: 0;
        padding-top: 10px;
    }

    input[type="checkbox"]{
        height: 15px;
        width: 15px;
    }

    input[type="email"]{
        padding-left: 25vw;
    }

    label[for="email"]{
        padding-left: 25vw;
        margin-right: -10vw;
    }
    
}