.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    margin-left: 150px;
    margin-right: 150px;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 80px;
}

body{
    background-image: url("./download.png");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0px;
}

.button{
    cursor: pointer;
    background-color: hsla(266, 75%, 69%, 0.884);
    border: 1px solid hsla(266, 75%, 69%, 0.836);
    background: linear-gradient(45deg, hsl(266, 43%, 56%), 50% ,hsl(266, 75%, 69%, 0.603));
    color: white;
    height: 100px;
    width: 400px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.button:hover{
    background: white;
    color: hsla(266, 75%, 69%, 0.884);
    border: none;
}

.pageHeader{
    font-size: 80px;
    color:rgba(20, 19, 22, 0.658);
    text-shadow:  hsla(266, 75%, 69%, 0.76) 1px 0 10px;
}

.credits{
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin-top: 20px;
    margin-right: 10px;
}